.logme__form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.btn-mui {
	background-color: rgba(25, 118, 210, 0.04);
	border-radius: 10px;
	transition: background 0.2s ease-in-out;
}

.btn-mui:hover {
	background: rgba(25, 118, 210, 0.1);
}
