.flex-table {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.flex-table-header {
  display: flex;
  font-weight: bold;
  padding: 10px 0;
}

.flex-header-item {
  flex: 1;
  padding: 10px;
  text-align: start;
  color: var(--primary-color);
}

.flex-header-item:last-child {
  border-right: none;
}

.flex-table-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.flex-row:hover {
  background-color: #ededed;
}

.flex-cell {
  flex: 1;
  padding: 10px 30px;
  text-align: start;
  border-right: 2px dotted #d8d8d8;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.flex-cell:last-child {
  border-right: none;
}

.active-status,
.inactive-status {
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.active-status {
  background-color: #eafff3;
  border: 2px solid #66ba87;
  color: #63b885;
}

.inactive-status {
  background-color: #ffeaea;
  border: 2px solid #b96363;
  color: #ba6565;
}
