.orgcard__list {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

/* Левая карточка */
.orgcard__item-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 200px;
	background: rgba(255, 255, 255, 0.335);
	border-radius: 16px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(255, 255, 255, 0.2);
	padding: 24px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	max-width: 600px;
	width: 100%;
}

.orgcard__item-left:hover {
	transform: translateY(-8px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
		0 4px 6px rgba(255, 255, 255, 0.25);
}

.orgcard__item-left-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.orgcard__item-left-title {
	font-weight: 600;
}

.show-org-structure {
	outline: 1px solid rgba(130, 130, 130, 0.185);
	color: #000;
}

.orgcard__item-left-bottom {
	display: flex;
	gap: 10px;
}

.orgcard__item-left-item {
	width: calc((100% - 10px) * 2 / 3);
}

/* Правый контейнер */
.orgcard__right-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* Правые карточки */
.orgcard__item-right {
	display: flex;
	flex-direction: column;
	min-height: 150px;
	background: rgba(255, 255, 255, 0.335);
	border-radius: 16px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(255, 255, 255, 0.2);
	padding: 24px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	min-width: 500px;
	max-width: 600px;
}

.orgcard__item-right:hover {
	transform: translateY(-8px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
		0 4px 6px rgba(255, 255, 255, 0.25);
}

.orgcard__item-right-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.orgcard__item-right-title {
	font-weight: 600;
}

.orgcard__item-right-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.org-users-text {
	text-align: center;
}
