table {
  width: 100%;
  border-collapse: collapse;
}

.table-registry thead tr th,
.table-registry tbody tr td {
  text-align: start;
  padding: 30px;
}

.table-registry tbody tr {
  border: 2px solid red;
}

.table-registry tbody tr td {
  border-right-width: 2px;
  border-right-color: rgba(0, 0, 0, 0.12);
  border-right-style: dotted;
}

.table-registry tbody tr td:last-child {
  border: none;
}
